/*Theme Colors*/
/* To Use In Project:
color: var(--blue);
*/
:root {
    --brown: #a86446;
    --dark-green: #5c8271;
    --light-green: #83b8a1;
    --light-orange: hsl(42, 62%, 94%);
    --white: #ffffff;
  }
  


