/* Login Page & Register Page CSS */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f9f3e5;
}

@font-face {
    font-family: 'Eastman-Bold';
    src: url(../public/font/eastman_grotesque/Eastman-Grotesque-Bold-trial.otf) format("Opentype");
}

@font-face {
    font-family: 'Eastman';
    src: url(../public/font/eastman_grotesque/Eastman-Grotesque-Medium-trial.otf) format("Opentype");
}

.login_pic, .register_pic {
    position: absolute;
    width: 100%;
    height: 100%;
} 

.login_div, .register_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #a86446;
    margin: 0;
    width: auto;
    height: 100%;
}

.login_header, .register_header {
    text-align: center;
    font-family: 'Eastman-Bold';
    color: #f9f3e5;
    font-size: 28px;
    margin-top: 10%;
}

.login_header > h1 {
    margin-bottom: 5px;
}

.login_header > h2 {
    margin-top: 5px;
}

.login_form_top, .login_footer, .register_form_top, .register_footer {
    font-family: 'Eastman';
    color: #f9f3e5;
    font-size: large;
}

.username_input, .password_input, .email_input, .firstname_input, .lastname_input {
    border:1px solid transparent;
    border-radius: 30px;
    width: 400px;
    height: 20px;
    background-color: #f9f3e5; 
    margin-top: 3px;
}

.admin_input {
    margin-top: 3px;
}

.login_username, .login_password, .signup_username, .signup_password, .signup_email, .firstname, .lastname, .admin {
    margin-top: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #83b8a1;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #83b8a1;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #83b8a1;
}

.login_button, .register_button, .submit-btn {
    border:1px solid transparent;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    background-color: #5c8271; 
    color: #f9f3e5;
    margin-top: 25px;
    font-family: 'Eastman-Bold';
    font-size: large;
}

.login_footer, .register_footer {
    display: inline-block;
    margin-bottom: 10%;
}

.sign_up_link > p > a, .register_link > p > a {
    text-decoration: underline;
    color: #f9f3e5;
    font-family: 'Eastman';
}

.on_my_way {
    position: relative;
    font-family: 'Eastman-Bold';
    color: #f9f3e5;
    font-size: 55px;
}



/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    background-color: antiquewhite;
}

h1 {
    width: 100%;
    border: 1px solid black;
    background-color: antiquewhite;
}

button {
    margin-right: 10px;
    background-color: #FFD750;
    border: none;
    text-align: left;
}

a {
    color: #FF5078;
    text-decoration: none;
    font-size: large;
} */

/* Log-in page*/
/* html, body {
    margin: 0;
}

.login_div {
    margin: auto;
    width: 700px;
    height: 500px;
}

.login_header {
    text-align: center;
}

.login_div {
    width: 413px;
    height: 230px;
    margin: auto;
}

.username_label, .password_label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.username_input, .password_input {
    height: 40px;
}

.login_button_div {
    margin: auto;
    height: 70px;
    text-align: center;
    margin-top: 25px;
}
.login_button {
    width: 100px;
    height: 35px;
}

.login_footer {
    margin: auto;
    width: 413px;
}

.forgot_password{
    display: inline-block;
    width: 180px;
    text-align: center;
}
.sign_up_link {
    display: inline-block;
    width: 210px;
    text-align: center;
} */
/**/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

#menu ul {
    display: flex;
    list-style-type: none;
}
#menu ul li {
    padding-right: 15px;
}

#menu ul li a {
    color: rgba(255, 255, 255, 0.75);

}

#menu ul li a:hover {
    color: white;
    text-decoration: underline;
}

#single-marker {
    height: 400px; 
    width: 100vw; 
}

#map {
    height: 100%; 
    width: 100%; 
}

#challenge {
    width: fit-content;
}

#onspot {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #FFD750;
    text-align: center;
}


/********************************* FROM HJ *************************************/
h1, h2, h3, h4, h5 {
    color: #a86446;
}

.register_header > h1, 
.register_header > h2,
.login_header > h1, 
.login_header > h2,
.admin-table,
.admin-table-btn .icon
{
    color: #f9f3e5
}

.list-view h1,
.admin-view h1,
.form-view h1,
.admin-view h2,
.form-view h2
{
    /* font-family: 'Eastman-Bold'; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin: 30px 0 15px;
}

.admin-view h2,
.form-view h2 {
    margin: auto;
}

.search-box input,
.add-btn,
.form-box input,
.form-box textarea,
.form-box select {
    border: transparent;
    border-radius: 30px;
    /* width: 50%; */
    height: fit-content;
    padding: 5px 20px;
    margin: 10px 0;
    background-color: #a86446;
    color: #f9f3e5;
    font-weight: bold;
}

.search-box input::placeholder {
    color: rgba(249, 243, 229, 0.8);
}

.search-box button,
.form-view label {
    border: transparent;
    background-color: transparent;
    color: #a86446;
    font-weight: bold;
}

.list-box {
    border-radius: 15px;
    width: -webkit-fill-available;
    height: fit-content;
    padding: 25px;
    margin: 10px 0;
    background-color: #5c8271;
    color: #f9f3e5;
}

details ol {
    margin: 10px 0 0 0;
}

details ol li {
    margin: 5px 0;
}

.list-box a,
.add-btn a 
{
    color: #f9f3e5;
    text-decoration: none;
    display: inline-block;
    width: -webkit-fill-available;
    overflow-wrap: break-word;
}

.list-box a:hover {
    text-decoration: underline;
}

#multi-marker {
    /* border-radius: 15px; */
    height: 65vh;
    margin: 10px 0;
}

#multi-marker > #map {
    border-radius: 15px;
}

.admin-section {
    margin-bottom: 30px;
}

.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    width: fit-content;
    padding: 10px 25px;
    display: inline-block;
    margin-left: 20px;
}

.add-btn:hover {
    cursor: pointer;
}

.admin-section .list-box {
    overflow-x: scroll;
}

.admin-table {
    border-collapse: unset;
    margin: auto;
    width: max-content;
}

.admin-table th {
    text-align: center;
}

.admin-table td {
    padding-top: 10px;
}

.admin-table th,
.admin-table td {
    padding-left: 15px;
    padding-right: 15px;
}

.admin-table td {
    vertical-align: top;
}

.admin-table ol {
    margin: 0;
}

.admin-table a {
    color: #f9f3e5;
    text-decoration: none;
    font-weight: bold;
    width: unset;
}

.admin-table a:hover {
    text-decoration: underline;
}

.admin-table-btn {
    border:0;
    background:none;
    display: inline-block;
    padding: 0 2px;
}

.add-btn .icon,
.admin-table-btn .icon {
    width: 18px;
    display: inline-block;
}

#leaders {
    border: 10px #83b8a1 solid;
}

#leaders h2 {
    color: #f9f3e5;
    text-align: center;
    margin-bottom: 10px;
}

.truncateTxt {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/********************************* FROM HJ 2 *************************************/
.form-view label {
    display: block;

}

.fill-vp {
    height: 70vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-view .form-map-img {
    background: url(./image/loginPic.jpg) center center / cover;
    display: flex;
    /* flex-direction: column; */
}

#phase2-rp {
    margin: auto;
    color: #f9f3e5;
}

#phase2-rp h2 {
    color: #f9f3e5;
}

.form-box input,
.form-box textarea,
.form-box select {
    width: -webkit-fill-available;
    margin: 5px 0 22px;
}

.form-box input.invalid {
    margin-bottom: 0;
}
    
.invalid + p {
    padding:0;
    margin: 2px 0;
    /* margin-bottom:10px; */
    color:red;
    font-size:14px;
    text-align:center;
}

.form-box .fields {
    height: 90px;
}

.submit-btn {
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
    margin-top: 20px;
}


.back-btn {
    font-weight: bold;
    color: #5c8271;
    margin: 20px 5px;
}

.back-btn a {
    color: #5c8271;
    text-decoration: none;
}

.form-box textarea {
    border-radius: 17px;
    min-height: 80px;
}

.form-view #exception .radio {
    width: auto;
}
.form-view #exception label {
    display: inline-block;
    margin-right: 15px;
}

/********************************* FROM HJ ends *************************************/

