body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    background-color: antiquewhite;
}


button {
    margin-right: 10px;
    background-color: #FFD750;
    border: none;
    text-align: left;
}

a {
    color: #FF5078;
    text-decoration: none;
    font-size: large;
}

/* Log-in page*/
html, body {
    margin: 0;
}

.login_div {
    margin: auto;
    width: 700px;
    height: 500px;
}

.login_header {
    text-align: center;
}

.login_div {
    width: 413px;
    height: 230px;
    margin: auto;
}

.username_label, .password_label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.username_input, .password_input {
    height: 40px;
}

.login_button_div {
    margin: auto;
    height: 70px;
    text-align: center;
    margin-top: 25px;
}
.login_button {
    width: 100px;
    height: 35px;
}

.login_footer {
    margin: auto;
    width: 413px;
}

.forgot_password{
    display: inline-block;
    width: 180px;
    text-align: center;
}
.sign_up_link {
    display: inline-block;
    width: 210px;
    text-align: center;
}
/**/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

#menu ul {
    display: flex;
    list-style-type: none;
}
#menu ul li {
    padding-right: 15px;
}

#menu ul li a {
    color: rgba(255, 255, 255, 0.75);

}

#menu ul li a:hover {
    color: white;
    text-decoration: underline;
}

/* Google Map API */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 /* #map {
    height: 70%;
  } */
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
/* html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
} */
#single-marker {
    height: 400px; 
    width: 100vw; 
}
/* 
#map {
    height: 100%; 
    width: 100%; 
} */

#challenge {
    width: fit-content;
}

#onspot {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #FFD750;
    text-align: center;
}
